[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/hamletg
[access "refs/for/refs/*"]
	read = group user/hamletg
	push = group user/hamletg
	label-Code-Review = -2..+2 group user/hamletg
	label-Verified = -1..+1 group user/hamletg
	rebase = group user/hamletg
	removeReviewer = group user/hamletg
	submit = group user/hamletg
[access "refs/heads/*"]
	read = group user/hamletg
	create = group user/hamletg
	push = +force group user/hamletg
	pushMerge = group user/hamletg
[access "refs/tags/*"]
	push = group user/hamletg
	push = +force group user/hamletg
[receive]
	requireChangeId = true
